

body{
    background:url(images/4444.webp);
    background-size: contain;
    
}
.container{
    width: 820px;
    height: auto;
    margin: 30px auto;
}

.logo {
    width: 120px;
    height: 120px;
    float: left;    
    background: url(images/crc.png) ;
    background-size: contain;
}

.aboutlogo{
   width:25%;
   height: 80%;
   float: left;
   margin: 10px ;
   border: 2px;
}


.aboutlogo2{
    width:65%;
    height: 80%;
    float: left;
    margin: 10px;
    border: 2px;
    text-align: left;

}
 
.aboutlogo img {
    width: 200px;
    position: absolute;
    margin-top: 10px;
    
}

.banner {
    width: 690px;
    height: 120px;
    float: left;
    margin-left: 10px;
    background-color: aqua;
    background: url(images/1535008903731.jfif) ;
    background-size: contain;
    background-color: rgba(120, 155, 161, 0.6);
    border-radius: 7px;

 


}
.banner h4{

    color: aliceblue;
    padding-top: 25px;

}

.menu {
    width: 610px; 
    height: 35px;
    box-shadow:rgb(83, 78, 78) ;
    margin-top: 10px;
    float: left;
    background-color: rgba(160, 172, 137, 0.74);
    border-radius: 7px;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;

}

.menu ul li {
    float: left;
    width: 25%;
    height: auto;
    text-align: center;
    margin: 0;
    
}


.menu ul li a{
    text-decoration:none ;
    font-size: 20px; color:rgb(0, 0, 0);
    display: block;
    text-align: center;
    margin: center;
    text-align: center;
    padding: 6px;

}

.menu ul li a:hover{
    background-color: rgba(207, 122, 10, 0.801);
}

.sosial{
    width: 200px;
    height: 40px;
    margin-left: 10px;
    float: left;
    block-size: 45px;
    margin-top: 10px;
    text-align: center;
   
}

.sosial img {
    margin: center;
    padding-top: 2px;  
}

.divhead{
    width: 820px;
    height: 30px;
    margin: center;
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    color: rgb(37, 61, 17);
    
}



.about{
    width: 820px;
    height: 380px ;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    background-color: rgba(160, 172, 137, 0.74);
    border-radius: 7px;
   
}


.food-list{
    width: 820px;
    height: 380px ;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    background-color: rgba(160, 172, 137, 0.74);
    border-radius: 7px;

}

.food-list ul {
    width: 25%;
    float: left;
    margin-left:15px ;
}
.foodlist ul {
    width: 30%;
}
.Recipes{
    width: 820px;
    height: 380px ;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    background-color: rgba(160, 172, 137, 0.74);
    border-radius: 7px;
    
}

.imgcon{
    width: 32%;
    height: 80%;
    margin: 0;
    float: left;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    
}

.imgcon img{
    width: 75%;
    height: 50%;
   
}
.youtube{
    width: 820px;
    height: 380px ;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    background-color: rgba(160, 172, 137, 0.74);
    border-radius: 7px;
    
}

iframe {
    width: 32%;
    height: 80%;
    margin-left: 3px;
}
.Contact{
    width: 820px;
    height: 500px ;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    background-color: rgba(160, 172, 137, 0.74);
    border-radius: 7px;

    
}

.contact-box{
	max-width: 820px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
    background-color: rgba(160, 172, 137, 0.74);
    border-radius: 7px;

}

.left{
    background-image: url(images/contact_background_form.jpg);
	background-size: cover;
	height: 100%;
    text-align:center ;
}
.left p{
    
    margin-top: 140px;
}
.right{
	padding: 25px 40px;
  
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{

    position: absolute;
    left: 50%;
    height: 4px;
    width: 50px;
    border-radius: 2px;

}

.field{
	width: 100%;
	border: 2px solid rgba(104, 150, 108, 0.904);
	outline: none;
	background-color: rgba(120, 155, 161, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 12px;
	transition: .3s;
    
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 80px;
}

.btn{
	width: 110%;
	padding: 0.5rem 1rem;
	background-color: rgba(190, 91, 91, 0.753);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    margin: 0;
    border-radius: 7px;
}

.btn:hover{
    background-color: #630d0dbb;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);

}

